/* Header */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px;
}

.header__menu {
  justify-self: start;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  font-size: 18px;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
}

.header__link_active {
  border-bottom: none;
}

.header__logo {
  display: block;
  width: 148px;
}

.header__logo-image {
  width: 100%;
  height: 100%;
}

.header__address {
  justify-self: end;
}

/* Address */
.address {
  font-style: normal;
  font-size: 18px;
  line-height: 24.3px;
}

/* Cover */
.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  padding: 165px 50px 50px;
  color: #fff;
  z-index: 0;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.cover__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 100px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 30px;
  margin-bottom: 135px;
}

.aligned-text {
  display: block;
  line-height: 115%;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 78px;
}

.cover__description-text {
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  background-color: transparent;
  border: 1px solid #fff;
  padding: 12px 32px;
  font-size: 22px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}
